attrs
jax==0.2.0
jaxlib>=0.1.55
graphviz
numpy
pytest==5.4.3
pytest-benchmark
quimb==1.2.0
tensorflow>=2.1.2
ply
opt_einsum
sparse
numba==0.51.2
sympy
tensorly==0.4.5
git+https://github.com/mnick/scikit-tensor.git
