name: Python application

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies and set path.
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        sudo apt-get install mpich libblas-dev
    - name: Instal CTF
      run: |
        git clone https://github.com/LinjianMa/ctf.git
        mkdir install install/include install/lib
        cd ctf
        # Download scalapack.
        wget http://www.netlib.org/scalapack/scalapack-2.1.0.tgz -O scalapack.tgz
        mkdir scalapack;
        tar -xzf scalapack.tgz -C scalapack --strip-components 1;
        # Install CTF.
        ./configure --install-dir="$GITHUB_WORKSPACE/install" --build-scalapack
        pip install cython
        make python
        make python_install
        # Finish install CTF, now set up library path.
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pip install pytest
        # Every execution of python w.r.t CTF must have LD_LIBRARY_PATH setup.
        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:"$PWD/install/lib"
        export PYTHONPATH=$PWD
        pytest --ignore=ctf
    - name: Generate pytest coverage
      run: |
        pip install pytest-cov
        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:"$PWD/install/lib"
        export PYTHONPATH=$PWD
        pytest --ignore=ctf --cov=./ --cov-report=xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        yml: ./codecov.yml 
        fail_ci_if_error: true
